#h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    border: 10px;
    border-style: solid;
}
h2 {
    text-align: center;
}
div {
    text-align: center;
}
input {
    margin: 10px;
}
button {
    text-align: center;
    margin: 30px;
    height: 70px;
    width: 200px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    background-color: lightblue;
}
#startButton {
    color: white;
    background-color: red;
    height: 100px;
    width: 300px;
}
#startPage {
    background-color: lightpink;
    border: 30px;
    border-color: white;
    height: 700px;
    border-style: double;
 
}
#container {
    display: none;
    height: 50%;
    width: 50%;
    margin: auto;
    
    
}
#endPage {
    display: none;
}
body {
    background-image:url("https://cdn.luxe.digital/media/sites/7/2018/10/30171612/luxury-wellness-fitness-equinox-gym-los-angeles-luxe-digital.jpg");
    background-size: 1200px 1200px;
}
img {
    margin: 20px;
}
.backgroundColor {
    background-color: lightpink;
    opacity: 0.88;

}
#time {
    color: red;
}