h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
div {
    text-align: center;
}
input {
    margin: 10px;
}
button {
    text-align: center;
    margin: 30px;
    height: 70px;
    width: 200px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    background-color: lightblue;
}
#startButton {
    color: white;
    background-color: red;
    height: 100px;
    width: 300px;
}
#startPage {
    background-color: pink;
 
}
#container {
    display: none;
}
#endPage {
    display: none;
}